@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Poppins";
  color-scheme: light dark;
  color: white;
  background: linear-gradient(144.52deg, #1a0535 19.89%, #0f0120 41.39%);
  /* background:  linear-gradient(144.52deg, #1A0535 19.89%, #0F0120 82.39%); */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  height: auto;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

:root::after {
  content: "";
  top: 0;
  position: absolute;
  width: 98vw;
  height: 100vh;
  background-image: url("./assets/icons/starry-bg.png");
  background-size: 30vw;
  z-index: -9;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.main-app {
  margin: 0;
  /* display: flex;
  place-items: center;
  min-width: 320px;*/
  min-height: 100vh;
  padding-bottom: 100px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  /* transition: border-color 0.25s; */
}
/* button:hover {
  border-color: #646cff;
} */
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1010px;
  margin: 0 auto;
  /* text-align: center; */
}

body {
  /* cursor: none; */
}
/* 
.cursor{
  position: absolute;
  top: 0;
  left: 0
}

.rounded{
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.pointed{
  width: 7px;
  height: 7px;
  background-color: white;
  border-radius: 50%;
} */
[class^="cursor"] {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 9999;
  pointer-events: none;
}
.cursor-outer {
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  /* transition: all 0.09s linear; */
}
.cursor-inner {
  width: 7px;
  height: 7px;
  background: #fff;
}
.content:hover ~ .cursor-outer {
  width: 90px;
  height: 90px;
  background: #fff;
  mix-blend-mode: difference;
}
.content:hover ~ .cursor-inner {
  opacity: 0;
}
@media (prefers-color-scheme: light) {
  /* :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  } */
}
