.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 45px;
    font-size: 15px;
  }
  
  .navbar {
    h5 {
      letter-spacing: 0.5px;
      cursor: pointer;
      font-weight: 300;
    }
  }
  
  .bg-circle-1 {
    height: 200px;
    width: 200px;
    border-radius: 121px;
    background: linear-gradient(180deg, #330969 0%, rgba(145, 121, 176, 0) 100%);
    position: absolute;
    top: -11px;
    left: -59px;
    transform: rotate(-12deg);
  }
  
  .top-hero-section {
    display: flex;
    justify-content: space-between;
    height: 400px;
    align-items: center;
    margin-top: 15px;
    .top-hero-section_left {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      row-gap: 10px;
  
      h3, h5 {
        font-weight: 600;
        font-size: 30px;
        text-align: left;
        line-height: 46px;
        width: 400px;
        margin: 0px;
      }
  
      h5{
        font-weight: 300;
        font-size: 13px;
        margin: -3px 0px 10px 0px;
      }
    }
  }
  
  .welcome-code-section {
    width: 418px;
    height: 310px;
    background: #100123;
    box-shadow:0px 4px 52px 11px #220242;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    padding: 0px 25px 0px 30px;
    display: flex;
    justify-content: flex-start;
  
    .welcome-code-icon-1,
    .welcome-code-icon-2,
    .welcome-code-icon-3 {
      height: 13px;
      width: 14px;
      border-radius: 10px;
      position: absolute;
      top: 25px;
      left: 25px;
    }
  
    .welcome-code-icon-1 {
      background: #a40000;
    }
    .welcome-code-icon-2 {
      background: #c39622;
      left: 50px;
    }
    .welcome-code-icon-3 {
      background: #0c9000;
      left: 75px;
    }
  
    .welcome-typing-text {
      margin-top: 45px;
      text-align: left;
      font-weight: 400;
  
      h5 {
        font-size: 13px;
        font-weight: 300;
      }
    }
  }
  
  .welcome-code-section::after {
    content: "";
      position: absolute;
      background: #3a0067;
      filter: blur(62px);
      border-radius: 33px;
      height: 33px;
      width: 534px;
      bottom: -42px;
      left: -51px;
      /* border: solid 10px orange; */
      z-index: -1;
  }
  .fade-out-enter-active,
  .fade-out-leave-active {
    transition: opacity 0.5s ease;
  }
  
  .fade-out-enter-from,
  .fade-out-leave-to {
    opacity: 0;
  }
  
  .welcome-code-explanation {
    margin-top: 0px;
  }
  
  .about-us{
    h2{
      text-align: center;
      font-weight: 600;
    }
  }